{% extends "base.html" %}

{% block body %}
<style>

    .profile-container {

        text-align: center;

        padding: 50px;

        background-color: #f9f9f9;

        border-radius: 10px;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        max-width: 600px;

        margin: 0 auto;

    }

    .profile-image {

        display: block;

        margin: 0 auto 20px;

        border-radius: 50%;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        transition: transform 0.3s ease-in-out;

    }

    .profile-image:hover {

        transform: scale(1.05);

    }

    .profile-username {

        margin-top: 20px;

        font-size: 28px;

        color: #333;

    }

    .edit-profile-btn {

        background-color: #4CAF50;

        color: white;

        padding: 10px 20px;

        font-size: 16px;

        border: none;

        border-radius: 5px;

        cursor: pointer;

        transition: background-color 0.3s ease-in-out;

    }

    .edit-profile-btn:hover {

        background-color: #45a049;

    }

</style>

 

<div class="profile-container">

    <img src="{{ user.profile.image.url }}" class="profile-image" height="250px" width="250px" style="border:5px solid #fff">

    <h1 class="profile-username">{{ user.username }}</h1>

    <button class="edit-profile-btn" class="btn btn-success" style="background-color:black;">Edit Profile</button>

</div>

{% endblock %}









