<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'foodapp/style.css' %}">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
      #logout-button{
        border: none;
        color: rgb(92, 92, 224);
        padding-top: 15px;
        background-color: white;
      }
    </style>

</head>
<body>
    <div class="container-fluid">

        <div class="navbar-header">

          <a class="navbar-brand" href="{% url 'foodapp:index' %}" style='font-weight:bold'>FoodApp</a>

        </div>

        <ul class="nav navbar-nav">

          <li class="active"><a href="{% url 'users:profile' %}">Profile</a></li>

          <li><form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit" id="logout-button">Logout</button>
        </form></li>

          <!-- <li><a href="{% url 'logout' %}">Logout</a></li> -->

          <!-- <li><a href="#">Login</a></li> -->

        </ul>

      </div>

    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>