{% extends 'base.html'%}
    {% block body %}
    {% for item in item_list %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img src="{{item.item_image}}" alt="">
        </div>
        <div class="col-md-2">
             {{ item.item_name }}
        </div>
        
        <div class="col-md-3">
        <a href="{% url 'foodapp:detail' item.id %}" class="btn btn-success">Details</a>
        </div>
        </div>
        <br><hr><br>
    {% endfor %}
    {% endblock %}
</body>
</html>